<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <a routerLink="/" class="logo">PIXLS</a>
      <ul class="nav-links" *ngIf="authSignal().isLoggedIn">
        <li><a routerLink="/home" class="nav-link active">Home</a></li>
        
        <!-- Redirect to User Surveys -->
        <li>
          <a routerLink="/my-surveys" class="nav-link">My Given Surveys</a>
        </li>
      </ul>
    </div>

    <div class="navbar-center">
    </div>

    <div class="navbar-right" style="gap: 12px;" *ngIf="!authSignal().isLoggedIn">
      <button class="btn-primary" routerLink="/auth/login">Login</button>
      <button class="btn-secondary" routerLink="/auth/register-company">Register Company</button>
    </div>

    <!-- Logged in state dropdown/username display -->
    <div class="navbar-right" style="gap: 16px;" *ngIf="authSignal().isLoggedIn">
      <span class="nav-link" style="font-weight: 600;">Welcome, {{ authSignal().username }}</span>
      <button class="btn-secondary" style="padding: 6px 12px; font-size: 12px;" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
